<%= link_to "Home", root_path %>
<a href="<%=student_path%>">Student </a>
<a href="/about_us">about us</a>
contact_us
<form method="post">
<b>User Login</b></br>
<table>
	<tr>
		<td>First name:</td>
		<td><input type="text" name="First name"></td>
	</tr>
	<tr>
		<td>Last name:</td>
		<td><input type="text" name="Last name"></td>
	</tr>	
	<tr>
		<td>Email:</td>
		<td><input type="Email" name="Email"></td>
	</tr>
	<tr>
		<td>Address</td>
		<td><input type="text" name="address"></td>
	</tr>
	<tr>
		<td>Number:</td>
		<td><input type="Number" name="number"></td>
	</tr>
	<tr>
	<td><input type="submit"  >
</table>
<form>
