student_module
<a href="/contact_us">Contact Us</a>
<%= link_to "Home", root_path %>
<!--<div class="header">
<span class="a"> Student's account</span> <span class="b">welcome student</span><span><button>logout</button></span>

</div>-->