/*ul li {
	display: inline-block;
	padding: 20px;
}
.homm{
	background-color: pink;
}
.header{
	height: 50px;
	background-color: hsl(147, 50%, 47%);
	width: 100%
}
.a{
	   padding-top: 50px;
	   display: inline; 
     text-align: left;
     font-size: 30px;
}
.b{
	   display: inline;
     font-size: 30px;
     text-align: right;
     margin-left: 50%;
     margin-top: 30%;


}
*/